@import url(style.css);

.hero-section {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: left;
    min-height: 50vh;
    background: linear-gradient(to bottom, #33363f48, #33363f), url('../img/дон.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.hero-section__context {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    z-index: 2;
    padding: 20px 0;
}

.hero-section__context__h {
    text-align: left;
    font-family: 'stolzl_bold';
    color: #ffffff;
    font-size: 42px;
    margin-bottom: 10px;
}

.grid-of-news
{
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(3, 1fr);
}



@media (max-width: 1440px) {
    .grid-of-news
    {
        gap: 60px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 850px) {
    .grid-of-news
    {
        gap: 60px;
        grid-template-columns: repeat(1, 1fr);
    }
}