@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #F6FAFF;
}

.header 
{
    z-index: 100;
    height: 100px;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #33363F;
    box-shadow: 0 1px 5px 0;
}

.header__logo 
{
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    white-space: nowrap;
}

.header__logo__img 
{
    width: 48px;
    padding-right: 10px;
}

.header__logo__text__name 
{
    color: #fff;
    font-family: 'europeextendedc_bold';
    font-size: 20px;
}

.header__logo__text__subtitle
{
    color: #fff;
    font-family: 'stolzl_light';
    font-size: 14px;
}

.header__nav
{
    display: flex;
    justify-content: end;
    align-items: center;
}

.header__nav__hmenu {
    color: #fff;
    display: none;
    font-size: 36px;
    cursor: pointer;
  }

.header__nav__main
{
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 80px;
}

.header__nav__main__point
{
    margin-right: 10px;
}

.header__nav__main__point:last-child
{
    margin-right: 0;
}

.header__nav__main__point > a 
{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.secondary-btn
{
    font-family: 'stolzl_bold';
    font-size: 18px;
    padding: 16px 42px;
    border-radius: 10px;
    background-color: #E6E6E6;
    color: #33363F;
    border: 0;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color ease-out .2s;
}

.secondary-btn:hover
{
    background-color: #b6b6b6;
}

.secondary-btn:active
{
    background-color: #a0a0a0;
}

.primary-btn
{
    font-family: 'stolzl_bold';
    font-size: 18px;
    padding: 16px 42px;
    border-radius: 10px;
    color: #33363F;
    border: 0;
    background-image: linear-gradient(90deg, #69BAFC, #5BA8E8);
    color: #fff;
    cursor: pointer;
    transition: filter ease-out .2s;
    white-space: nowrap;
}

.primary-btn:hover
{
    filter: brightness(110%);
}

.primary-btn:active
{
    filter: brightness(95%);
}

.footer
{
    z-index: 1;
    height: 240px;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #33363F;

}

.footer__first-line
{
    display: flex;
    justify-content: space-between;
}

.footer__second-line
{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'stolzl_book';
    font-size: 14px;
    text-align: right;
    color: #fff;
}

.footer__logo-img
{
    height: 100px;
}

.footer__nav
{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__nav__point:last-child
{
    margin-right: 0;
}

.footer__nav__point > a 
{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.light-link
{
    text-decoration: none;
    color: #adc5da;
    transition: color ease-out .2s;
}

.light-link:hover
{
    color: #8da0b1;
}

.light-link:active
{
    color: #738392;
}

.nav-link
{
    font-family: 'stolzl_regular';
    font-size: 18px;
    margin-right: 10px;
    border-radius: 10px;
    white-space: nowrap;
    transition: background-color ease-out .2s;
}

.nav-link:hover
{
    background-color: #2f323a;
}

.nav-link:active
{
    background-color: #282a31;
}

.content
{
    padding-left: 240px;
    padding-right: 240px;
}

main
{
    max-width: 100%;
    background-color: #f6faff;
}

.primary-text
{
    font-family: 'europeextendedc_bold';
}

.btn-group
{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.btn-group > button
{
    margin-right: 20px;
    margin-bottom: 10px;
}

.btn-group > button:last-child
{
    margin-right: 0;
}

.pofc
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pofc > div
{
    width: 45%;
}



@media (max-width: 1550px) {
    .content {
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .pofc
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pofc > div
    {
        width: 100%;
    }
}

@media (max-width: 1200px)
{
    .header__nav__main {
        display: none;
        flex-direction: column;
        gap: 30px;
        background-color: #33363f;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 25px 25px;
        border-radius: 20px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
      }
    
    .header__nav__main.active {
        display: flex;
    }

    .header__nav__hmenu {
        display: block;
    }
}

@media (max-width: 950px)
{
    .footer
    {
        height: auto;
        position: static;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #33363F;
        padding: 20px 0;
    }
    
    .footer__first-line
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    
    .footer__second-line
    {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'stolzl_book';
        font-size: 14px;
        text-align: right;
        color: #fff;
    }
    
    .footer__logo-img
    {
        height: 75px;
    }
    
    .footer__nav
    {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
        gap: 10px;
    }
    
    .footer__nav__point:last-child
    {
        margin-right: 0;
    }
    
    .footer__nav__point > a 
    {
        text-decoration: none;
        color: #fff;
        padding: 10px;
    }
}

@media (max-width: 850px)
{
    .content {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 600px)
{

    .primary-btn
    {
        font-size: 16px;
        padding: 16px 42px;
        border-radius: 10px;
    }

    .secondary-btn
    {
        font-size: 16px;
        padding: 16px 42px;
        border-radius: 10px;
    }

}